body {
    width: 90%;
    margin: 0 auto;
    background-color: #F5F7F4;
    font-family: 'Raleway', sans-serif;
}

.accordion-item {
    position: relative;
}

.accordion-item h3 { margin: 0 auto;
    font-size: 1.1em;
    padding: 0.4em;
    color: #fff;
    background-color: green;
    padding-left: 10%;
    -moz-user-select: none; 
    -khtml-user-select: none; 
    -webkit-user-select: none; 
    -o-user-select: none;
    user-select: none;
}
.accordion-item h3:hover { cursor: pointer; }
.accordion-item span {
    -moz-user-select: none; 
    -khtml-user-select: none; 
    -webkit-user-select: none; 
    -o-user-select: none;
    user-select: none;
    position: absolute;
    right: 0%;
    padding: 0.4em;
    font-size: 1.1em;
}
.accordion-item.hide h3 { color: #fff; background-color: #64a264; }
.accordion-item.hide div { display: none; }
.accordion-item div {
    margin: 0 auto;
    padding: 1em 0.4em;
    background-color: #EAEAE2;
    border: solid 2px #64a264;
    border-top-width: 0px;
}

h1 {
    font-size: 4em;
    color: green;
    margin: 0 auto;
    width: 90%;
    text-align: center;
    font-family: 'Lobster', cursive;
}

pre {
    max-width: 90%;
    overflow-x: scroll;
    overflow-y: visible;
    margin: 0 auto;
}

#errors {
    width: 80%;
    margin: 0 auto;
}

.error {
    color:#FF3333;
    border: solid 2px #CC6666;
    border-radius:12px;
    overflow: hidden;
    padding: 5px;
}

.error table {
    height: 100%;
}

.error .errorname {
    font-size: 1.6em;
    font-style: bold;
    font-family: 'Lobster', cursive;
    height: 100%;
    vertical-align: middle;
    text-align: center;
    width: 20%;
}

.error .errortext {
    height: 100%;
    vertical-align: middle;
    text-align: center;
    width: 70%;
}