<div class="error">
    <table>
        <tr>
            <td class="errorname"><div>{{error.errorname}}</div></td>
            <td class="errortext"><div>{{error.errortext}}</div></td>
        </td>
    </table
</div>