<div id="this-shouldnt-be-necessary">
{{#each data}}
    <div class="accordion-item">
        {{colorme wfe}}<h3>{{dateStr}}</h3>
        <div>
            <pre>{{{wfe}}}</pre>
        </div>
    </div>
{{/each}}
</div>